:root {
    --primary-color: #7d5f50;
    --secondary-color: #8b6f63;
    --tertiary-color: #a78e88;
    --white: #ffffff;
    --secondary: #ffffff;
    --heading-font-size: 30px;
    --body-font-size: 16px;
    --paragraph-font-size-1:20px;
    --paragraph-font-size-2:24px;
    --spacing:2rem;
    --font-weight-1:500;
    --space:80px;
    --main-heading-font-size:clamp(1.5rem, 3vw, 3rem);
    --main-heading-font-size-2:clamp(2rem, 5vw, 3rem);
    --horizontal-padding:3rem;
  }
  @media(max-width:767px){
    :root {
        --horizontal-padding:1rem;
        --paragraph-font-size-1:20px;
        --paragraph-font-size-2:20px;   
      }
  }
body{
    font-family: system-ui;
    font-size: var(--body-font-size);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    display: grid;
    grid-template-columns: 5fr 2fr 5fr;
    place-items: center;
    left: 0;
    right: 0;
    top: 0px;
    color: #fff;
    font-weight: 600;
    z-index: 999;
    transition: all .3s ease-in;
    text-transform: uppercase;
}
header.sticky {
    color: var(--primary-color);
    background-color: #fff;
}

.header-logo img {
    max-width: 200px;
    padding: 10px;
}
.header-right a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.sticky .header-right a {
    color: var(--primary-color);
}
.sticky .dark-logo{
    display: block!important;
}
.sticky .white-logo{
    display: none!important;
}
img{
    max-width: 100%;
    width: 100%;
    display: block;
}
.banner img{
    width: 100%;
    object-fit: cover;
    height: 100vh;
}
.header-right a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.header-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--horizontal-padding);
}

.header-right {
    width: 100%;
    display: block;
}

.header-left {
    width: 100%;
    padding-left: var(--horizontal-padding);
}
.text-with-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.text-with-image-left {
    padding: var(--horizontal-padding);
    color: var(--primary-color);
    font-size: var(--paragraph-font-size-2);
}
.banner-content{
    position: absolute;
    bottom: 0;
    color: #fff;
    font-weight: 600;
    font-size: var(--main-heading-font-size);
    padding: 40px;
    text-align: center;
    max-width: 1000px;
    margin-inline: auto;
    display: block;
    left: 0;
    right: 0;
}



img.text-with-image-left-logo {
    max-width: 300px;
    margin-bottom: 1rem;
}

.three-block {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    gap: 3rem;
    place-items: center;
    padding-inline: var(--horizontal-padding);
}
.three-block-middle-image p {
    font-size: var(--paragraph-font-size-2);
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 1rem;
}
.three-block-left-text,.three-block-right-text{
    font-size: var(--paragraph-font-size-1);
    color: var(--secondary-color);
}
.space{
    height: var(--space);
}
.page-width {
    max-width: 1400px;
    width: 100%;
    margin-inline: auto;
}
.our-project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    padding-inline: var(--horizontal-padding);
    place-items: center;
    padding-block: 50px;

}
.our-project-left{
    color: var(--secondary-color);
}
.our-project-left h3{
    font-size: var(--main-heading-font-size-2);
}
.our-project-left h2{
    font-size: var(--main-heading-font-size-2);
}
.our-project-left p{
    font-size:var(--paragraph-font-size-1);
}
.our-project-middle {
    position: relative;
    top: 50px;
}
.footer {
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline: var(--horizontal-padding);
    align-items: center;
    padding-block: 2rem;
    border-top: 1px solid #f1f1f1;
}
.middle-footer {
    text-align: center;
}

.right-footer {
    text-align: right;
}
.middle-footer h4 {
    justify-content: center;
    align-items: center;
    min-width: 100%;
    gap: 1.5rem;
}

.right-footer {
    text-align: right;
}

.middle-footer a {
    font-size:var(--paragraph-font-size-2);
    color: var(--secondary-color);
    text-decoration: none;
}

.middle-footer h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
svg.right-long-arrow-icon {
    width: 40px;
    background:var(--secondary-color);
    fill: #fff;
    padding: 5px;
}

.project-link a {
    display: flex;
    color:var(--secondary-color);
text-decoration: none;
margin-top: 1rem;
    align-items: center;
    gap: 1rem;
}

.richtext {
    text-align: center;
    padding-inline: var(--horizontal-padding);
}

.richtext img {
    max-width: 300px;
    margin-inline: auto;
    margin-bottom: 1rem;
}

.richtext p {
    color:var(--secondary-color);
    font-size: var(--paragraph-font-size-1);
}
.our-project-heading {
    padding-inline: var(--horizontal-padding);
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--tertiary-color);
    font-size:var(--main-heading-font-size);
}

.our-project-heading em {
    color: var(--primary-color) ;
}
.hr-line {
    flex-grow: 1;
    height: 1px;
    background: var(--secondary-color);
}
.text-shadow{
    text-shadow: 2px 4px 3px rgb(0 0 0 / .3);
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 -> 9/16x100 */
    overflow: hidden;
  }
  .responsive-video video {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  @media(min-width:769px){
    .responsive-video video {
        height: 105vh;
    }
  }
  @media(max-width:767px){
    .three-block {
        grid-template-columns: 1fr;
    }
    
    .our-project {
        grid-template-columns: 1fr;
        padding-bottom: 0;
    }
    
    footer.footer {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
    
    header.header {
        display: none;
    }
    
    .banner-content {
        max-width: 100%;
    }
    .left-footer {
        text-align: center;
    }
    
    .right-footer {
        text-align: center;
    }
    
    
    .text-with-image {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .text-with-image-left {
        padding: 0rem var(--horizontal-padding);
    }
    .our-project-middle {
        position: relative;
        top: unset;
    }
    .banner img {
        height: auto;
    
    }
    .mobile-menu{
        display: block!important;
    }
   
    
    .mobile-menu > div a {
        color: #fff;
        text-decoration: none;
        font-size: 25px;
    }
    .mobile-menu > div {
        display: flex;
        width: 300px;
        background: #7d5f50f0;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem 0 0 1rem;
        transform: translateX(-300px);
        transition: all .3s ease-in;
    }
    .mobile-menu.active > div{
        transform: translateX(0px)!important;
        transition: all .3s ease-in;
    }
    svg.m-hamburger {
        fill: #fff;
        position: fixed;
        top: 1rem;
        right: 1rem;
        width: 40px;
        cursor: pointer;
        display: inline-block!important;
        background: var(--secondary-color);;
        padding: 6px;
        z-index: 999;
    }
}