:root {
    --primary-color: #7d5f50;
    --secondary-color: #8b6f63;
    --white: #ffffff;
    --secondary: #ffffff;
    --heading-font-size: 30px;
    --body-font-size: 16px;
    --paragraph-font-size-1:20px;
    --paragraph-font-size-2:24px;
    --spacing:2rem;
    --font-weight-1:500;
    --space:80px;

  }
body{
    font-family: system-ui;
    font-size: var(--body-font-size);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    display: grid;
    grid-template-columns: 5fr 2fr 5fr;
    place-items: center;
    left: 0;
    right: 0;
    top: 0px;
    color: #fff;
    font-weight: 600;
    z-index: 999;
    transition: all .3s ease-in;
}
header.sticky {
    color: var(--primary-color);
    background-color: #fff;
}

.header-logo img {
    max-width: 160px;
    padding: 10px;
}
.header-right a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.sticky .header-right a {
    color: var(--primary-color);
}
.sticky .dark-logo{
    display: block!important;
}
.sticky .white-logo{
    display: none!important;
}
img{
    max-width: 100%;
    width: 100%;
    display: block;
}
.banner img{
    width: 100%;
    object-fit: cover;
    height: 100vh;
}
.header-right a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.header-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3rem;
}

.header-right {
    width: 100%;
    display: block;
}

.header-left {
    width: 100%;
    padding-left: 3rem;
}
.text-with-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.text-with-image-left {
    padding: 3rem;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 600;
}
.banner-content{
    position: absolute;
    bottom: 0;
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    padding: 40px;
    text-align: center;
    width: 1000px;
    margin-inline: auto;
    display: block;
    left: 0;
    right: 0;
}


@media(max-width:767px){
    header.header {
        display: none;
    }
    
    .banner-content {
        max-width: 100%;
    }
    
    
    .text-with-image {
        display: flex;
        flex-direction: column;
    }
    .text-with-image-left {
        padding: 6rem 2rem;
    }
}
img.text-with-image-left-logo {
    max-width: 360px;
}

.three-block {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    gap: 3rem;
    place-items: center;
    padding-inline: 3rem;
}
.three-block-middle-image p {
    font-size: var(--paragraph-font-size-2);
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 1rem;
}
.three-block-left-text,.three-block-right-text{
    font-size: var(--paragraph-font-size-1);
    color: var(--secondary-color);
}
.space{
    height: var(--space);
}
.page-width {
    max-width: 1400px;
    width: 100%;
    margin-inline: auto;
}
.our-project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    padding-inline: 3rem;
    place-items: center;
    padding-block: 50px;

}
.our-project-left{
    color: var(--secondary-color);
}
.our-project-left h3{
    font-size: 48px;
}
.our-project-left h2{
    font-size: 60px;
}
.our-project-left p{
    font-size:var(--paragraph-font-size-1);
}
.our-project-middle {
    position: relative;
    top: 50px;
}